{% extends "templates/index.html" %}
{% block content %}
  <div class="row">
    <form class="col s12" action="/user/invite-sent" method="POST">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" name='email' type="text" class="validate">
          <label for="icon_prefix">Email</label>
          <button type="submit">submit</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
